* {
  margin: 0;
  padding: 0;
  
}

.general{
  background-color: #401f5129;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


/* ----------DESKTOP----------- */

/* --USER HTML-- */
.mainWindow {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.bg-windows {
  /* background: linear-gradient(to right, #00d5ff7b, #ff006f77, #9d00ff77); */
  background-image: radial-gradient(
    circle at 50% 50%,
    #fbfaff 0,
    #f0f6ff 12.5%,
    #e8e4ff 25%,
    #d9f9eb 37.5%,
    #dbf2cd 50%,
    #ebe0c3 62.5%,
    #a6dcda 75%,
    #debccb 80.5%,
    #c7a6dc 100%
  );
}
.gg-windows {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
}

.gg-windows a {
  cursor: pointer;
}





/* --BUTTONS-- */

.btnW {
  color:#401f51;
  border: none;
  background-color: #ffffff18;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  outline: none;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btnW:hover {
  transform: scale(1.0);
  box-shadow: 0 0 10px #0000004d;
}

.inputW {
  border: none;
  background-color: #ffffff18;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  outline: none;
  transition: transform 0.3s, box-shadow 0.3s;
}
.inputW:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #0000004d;
}

.transparent-icon {
  opacity: 0.19;
}

/* ---------------------NAVBAR----------------------- */
.navV{
  display: flex;
}
/* DROPUP */
.dropupMenu {
  margin-left: -1px;
}

/* SEARCH BAR */
.btnS {
  border: none;
  background-color: #ffffff00;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  outline: none;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btnS:hover {
  transform: scale(1.0);
  box-shadow: 0 0 10px #0000004d;
}

.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  left: 10px;
  margin-left: 16px;
  margin-top: 10px;
  opacity: 0.4;
  background-color: #ffff0000 !important;
    transition: transform 0.3s;
}

.right-items-nav{
  margin-left: 940px;
}


/* dropup navbar */
/* .dropup {
  position: relative;
  display: inline-block;
} */

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropup-content a:hover {
  background-color: #f1f1f1;
}

.dropup:hover .dropup-content {
  display: block;
  bottom: 100%; }

/* CLOCK */
.clock{
  display: flex;
  align-items: center;
}

/* MODALS */

.modal-dialog{
  max-width: 1200px!important;
}
.modal-content{
  border-radius: 0;
}

.fast{
  margin-left: -4px;
  font-size: 14px;
  border-radius: 0;
}
.fast li{
  border: none;
  border-radius: 10px;
  
}
.fast li:hover{
  cursor: pointer;
  background-color: #ac99bc;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}